/* ========== External Libraries ========== */

@import url('../css/bootstrap.css');

/* ========== App Fonts  ========== */
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway Black.ttf');
}
@font-face {
	font-family: 'Monsterrat Bold';
	src: url('../fonts/Montserrat\ Bold.ttf');
}

/* ========== App Style variables ========== */

$color-text: #14553b;
$color-background: #fff;
$color-button: #39b54a;
$color-selected: #f9f9f9;
$content-shadow: none; //2px 3px 20px 1px rgba(0, 0, 0, 0.8);

$bg-color-one: #dd2630;
$border-color-one: #b61c23;
$bg-color-two: #60488a;
$border-color-two: #553d7f;

/* ========== App Styles ========== */
@import '_common';
@import '_header';
@import '_arcade';
@import '/engine/_advent';
@import '_trivia';
@import '_doubleExposure';
@import '_lockbox';
@import '_memoryMatch';

@mixin appButton() {
	color: #fff;
	font-size: 3.5vmin;
	margin: 0;
	// box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10vh;
	padding: 1vmin 3vmin;;
	border: 0.4vmin solid transparent;
	font-family: 'Monsterrat Bold';

	&:hover,
	&:focus {
		@include propertyAlternate(border-color, transparent, rgba(white, 0.8));
	}
}

.include-node-images {
	content: url('../img/videoPlaceholder.png');
	content: url('../img/hallmark2019/ornament-red.png');
	content: url('../img/hallmark2019/ornament-blue.png');
	content: url('../img/hallmark2019/ornament-green.png');
	content: url('../img/hallmark2019/ornament-transparent.png');
	content: url('../img/hallmark2019/highlight-badge.png');
	content: url('../img/hallmark2019/cameron.jpg');
	content: url('../img/hallmark2019/socks.jpg');
	content: url('../img/hallmark2019/tree-ornament-1.png');
	content: url('../img/hallmark2019/tree-ornament-2.png');
	content: url('../img/hallmark2019/tree-ornament-3.png');
	content: url('../img/hallmark2019/tree-ornament-4.png');
	content: url('../img/hallmark2019/tree-ornament-5.png');
	content: url('../img/hallmark2019/tree-ornament-6.png');
	content: url('../img/hallmark2019/tree-ornament-7.png');
	content: url('../img/hallmark2019/tree-ornament-8.png');
	content: url('../img/hallmark2019/tree-ornament-9.png');
	content: url('../img/hallmark2019/tree-ornament-10.png');
	content: url('../img/hallmark2019/tree-ornament-11.png');
	content: url('../img/hallmark2019/tree-ornament-12.png');
	content: url('../img/hallmark2019/tree-ornament-13.png');
	content: url('../img/hallmark2019/tree-ornament-14.png');
	content: url('../img/hallmark2019/tree-ornament-15.png');
	content: url('../img/hallmark2019/tree-ornament-16.png');
	content: url('../img/hallmark2019/tree-ornament-17.png');
	content: url('../img/hallmark2019/tree-ornament-18.png');
	content: url('../img/hallmark2019/tree-ornament-19.png');
	content: url('../img/hallmark2019/tree-ornament-20.png');
	content: url('../img/hallmark2019/tree-ornament-21.png');
	content: url('../img/hallmark2019/tree-ornament-22.png');
	content: url('../img/hallmark2019/tree-ornament-23.png');
	content: url('../img/hallmark2019/tree-ornament-24.png');
	content: url('../img/hallmark2019/tree-ornament-25.png');
	content: url('../img/hallmark2019/tree-ornament-1-glow.png');
	content: url('../img/hallmark2019/tree-ornament-2-glow.png');
	content: url('../img/hallmark2019/tree-ornament-3-glow.png');
	content: url('../img/hallmark2019/tree-ornament-4-glow.png');
	content: url('../img/hallmark2019/tree-ornament-5-glow.png');
	content: url('../img/hallmark2019/tree-ornament-6-glow.png');
	content: url('../img/hallmark2019/tree-ornament-7-glow.png');
	content: url('../img/hallmark2019/tree-ornament-8-glow.png');
	content: url('../img/hallmark2019/tree-ornament-9-glow.png');
	content: url('../img/hallmark2019/tree-ornament-10-glow.png');
	content: url('../img/hallmark2019/tree-ornament-11-glow.png');
	content: url('../img/hallmark2019/tree-ornament-12-glow.png');
	content: url('../img/hallmark2019/tree-ornament-13-glow.png');
	content: url('../img/hallmark2019/tree-ornament-14-glow.png');
	content: url('../img/hallmark2019/tree-ornament-15-glow.png');
	content: url('../img/hallmark2019/tree-ornament-16-glow.png');
	content: url('../img/hallmark2019/tree-ornament-17-glow.png');
	content: url('../img/hallmark2019/tree-ornament-18-glow.png');
	content: url('../img/hallmark2019/tree-ornament-19-glow.png');
	content: url('../img/hallmark2019/tree-ornament-20-glow.png');
	content: url('../img/hallmark2019/tree-ornament-21-glow.png');
	content: url('../img/hallmark2019/tree-ornament-22-glow.png');
	content: url('../img/hallmark2019/tree-ornament-23-glow.png');
	content: url('../img/hallmark2019/tree-ornament-24-glow.png');
	content: url('../img/hallmark2019/tree-ornament-25-glow.png');
	content: url('../img/hallmark2019/tree-present-1.png');
	content: url('../img/hallmark2019/tree-present-1-glow.png');
	content: url('../img/hallmark2019/tree-present-2.png');
	content: url('../img/hallmark2019/tree-present-2-glow.png');
	content: url('../img/hallmark2019/tree-present-3.png');
	content: url('../img/hallmark2019/tree-present-3-glow.png');
	content: url('../img/hallmark2019/tree-present-4.png');
	content: url('../img/hallmark2019/tree-present-4-glow.png');
	content: url('../img/hallmark2019/tree-present-5.png');
	content: url('../img/hallmark2019/tree-present-5-glow.png');
	content: url('../img/hallmark2019/tree-present-6.png');
	content: url('../img/hallmark2019/tree-present-6-glow.png');
	content: url('../img/hallmark2019/tree-present-7.png');
	content: url('../img/hallmark2019/tree-present-7-glow.png');
	content: url('../img/hallmark2019/tree-present-8.png');
	content: url('../img/hallmark2019/tree-present-8-glow.png');
	content: url('../img/hallmark2019/tree-present-9.png');
	content: url('../img/hallmark2019/tree-present-9-glow.png');
	content: url('../img/hallmark2019/tree-present-10.png');
	content: url('../img/hallmark2019/tree-present-10-glow.png');
}

body {
	@include backgroundImg('../img/hallmark2019/main-bg.jpg', auto);
	font-family: Raleway;
	overflow: hidden;

	#header {
		margin: (-$tv-top-bottom) (-$tv-left-right) 0;
		height: 270px;
		z-index: 3;

		.brand,
		.message {
			display: none;
		}

		#menu {
			flex: 1;
			padding: 0;
			border: none;
			border: none;
			align-items: center;
			justify-content: space-between;

			.menu-item {
				display: block;
				margin: 0;
				border: none;
				color: transparent;

				&.deepLinkNetwork {
					width:237px;
					height: 164px;
					@include backgroundImg('../img/hallmark2019/cta-watch.png', auto);
				}
				&.deepLinkChannel {
					width: 237px;
					height: 164px;
					@include backgroundImg('../img/hallmark2019/cta-stream.png', auto);
				}

				&:hover,
				&:focus {
					animation: button-bounce 0.5s ease infinite alternate;

					@keyframes button-bounce {
						to {
							margin-bottom: 5vh;
						}
					}
				}
			}
		}
	}

	#page {
		&.advent.loading {
			.loading-spinner {
				filter: brightness(0.5);
				background-position-y: 65%;
			}

			.advent-overlay { display: none; }
		}

		.advent-container {
			margin: 0 (-$tv-left-right);

			.advent-header {
				position: absolute;
				right: -$tv-left-right;
				width: 100%;
				height: 30vh;
				margin-top: 4vmin;
				box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.3);

				.title {
					display: none;
				}
			}

			.advent-items {
				display: flex;
				margin: 15vh 0 0 30vw;
				padding: 3vw;
				flex-wrap: nowrap;
				align-content: center;
				align-items: flex-end;
				flex-direction: row;
				height: 100%;
				overflow: scroll;

				button.advent-item {
					margin: 1vmin 2vmin;
					padding: 0;
					transition: all 0.25s;
					
					// Experiment to see if it increases performance
					// .badge-layer {
					// 	display: none;
					// }

					// &
					// &:not(:disabled):last-child {
					// 	.badge-layer {
					// 		display: initial;
					// 	}
					// 	background-color: green;
					// }

					.main-img {
						opacity: 0.3;
					}

					.secondary-img {
						position: absolute;
						top: -3vmin;
						left: -4vmin;
						margin: auto;
						clip-path: circle(44%);
						display: none;
					}

					.date-indicator {
						position: fixed;
						bottom: 5vh;
						top: unset;
						left: 0;
						width: 574px;
						height: 678px;
						background-size: auto;
						background-repeat: no-repeat;
						z-index: 1;
						display: none;
					}

					.badge-layer {
						position: fixed;
						top: unset;
						left: 0;
						right: unset;
						bottom: 5vh;
						z-index: 2;
					}

					.text-layer {
						position: absolute;
						top: 7vh;
						left: 0;
						right: 0;
						height: unset;
						font-family: Raleway;
						font-size: 5.5em;
						color: #fff;

						&:before {
							content: 'Dec.';
							position: absolute;
							left: 0;
							right: 0;
							font-size: 0.3em;
						}
					}
					&:nth-child(n + 31) {
						.text-layer:before {
							content: 'Jan.';
						}
					}

					.locked-indicator {
						@include backgroundImg('', auto, 50% 55%);
						background-image: url('../img/hallmark2019/lock-icon.png') !important;
						display: none;
					}

					&:after {
						content: '';
						@include backgroundImg('../img/hallmark2019/highlight-badge.png', auto);
						position: absolute;
						top: -6vmin;
						left: -5vmin;
						width: 250px;
						height: 273px;
						display: none;
					}

					&:disabled {
						.badge-layer,
						.text-layer {
							display: none;
						}

						.locked-indicator { display: block; }
					}

					&:focus,
					&:hover,
					&:active {
						&:not(:disabled) {
							.date-indicator,
							.secondary-img {
								display: block;
							}
							.badge-layer {
								display: block;
								filter: brightness(1.7);
							}
							.text-layer {
								display: none;
							}

							&:after {
								display: block;
							}
						}
					}

					&:first-child {
						margin-left: 20vw;
					}
				}
			}

			.advent-overlay {
				position: fixed;
				left: 0;
				bottom: 5vh;
				width: 571px;
				height: 645px;

				@include backgroundImg('../img/hallmark2019/tree.png', auto);
			}
		}

		.advent-game-container {
			color: white;
			/**
			*	The following :before{} element holds the game background for each different
			*	engine. If this .advent-game-container element is set to 'display: none', our 
			*	:before{} element is removed from the DOM. When it is re-introduced, the
			*	opacity does not transition from 0 to 1 correctly and instead jumps directly 
			*	to a value of 1. We must force the .advent-game-container element to always 
			*	be rendered in the DOM.
			*/
			display: block !important;
			opacity: 0;

			pointer-events: none;

			&:before {
				content: '';
				@include absolute-center();
				position: fixed;
				background: transparent;
				transition-property: opacity, background;
				transition-duration: 300ms;
				opacity: 0;
			}

			&.trivia,
			&.dx,
			&.mm,
			&.lockbox {
				opacity: 1;
				pointer-events: initial;

				&:before {
					opacity: 1;
				}
				.close-game {
					display: inherit;
				}
			}

			&.trivia:before {
				@include backgroundImg('../img/hallmark2019/game-bg-trivia.png', 100%);
			}
			&.dx:before {
				@include backgroundImg('../img/hallmark2019/game-bg-spot.png', 100%);
			}
			&.mm:before {
				@include backgroundImg('../img/hallmark2019/game-bg-memory.png', 100%);
			}
			&.lockbox:before {
				@include backgroundImg('../img/hallmark2019/game-bg-lockbox.png', 100%);
			}

			&.trivia,
			&.dx {
				color: $border-color-two;

				.btn,
				.exit-game-btn,
				.instructions .text{
					background-color: $bg-color-two;
					border-color: $border-color-two;
				}

				.header .hints .hint {
					&:focus,
					&:hover {
						border-color: $border-color-two;
						background-color: $bg-color-two;
					}
				}
				
				.endscreen .btns .btn.btn.deepLinkNetwork {
					display: none;
				}

				.image-container img {
					border-color: $border-color-two;
				}
			}

			&.mm,
			&.lockbox {
				color: $border-color-one;

				video {
					background-color: $bg-color-one;
				}
				
				.btn,
				.exit-game-btn,
				.instructions .text{
					background-color: $bg-color-one;
					border-color: $border-color-one;
				}

				.choices .choice {
					border-color: rgba($border-color-one, 0.5);

					&:hover,
					&:focus,
					&:active {
						@include propertyAlternate(border-color, rgba($border-color-one, 0.5), $border-color-one);
					}
				}
				
				.endscreen .btns .btn.deepLinkChannel {
					display: none;
				}

				.cards:not(:empty) {
					border: 1.5vmin solid $border-color-one;
				}
			}

			&.lockbox .endscreen .message .msg-scoring {
				.score, .possible-score { display: none; }
				
				&:before { content: 'Great Work!'; }
			}

			.game-content {
				.instructions {
					background-color: transparent;
					border: none;

					.text {
						border-style: solid;
						border-width: 0.2vmin;
						border-radius: 5vmin;
						
						color: white;
					}
					
					.btn-start {
						@include appButton();
						font-size: 7vmin;
						padding: 1vmin 6vmin;
					}
				}

				.content-panel {
					.header {
						display: none;
					}
					.body {
						border: none;
					}
				}

				.trivia {
					.content-panel {
						border: none;
					}
					.header {
						display: none;
					}
					.body {
						max-height: 100%;
						padding: 0;

						.trivia-question {
							flex-direction: column;
							max-height: 100%;
						}

						$spacing: 2%;
						$left-side: 40%;
						$right-side: calc(100% - #{$spacing} - #{$left-side});

						.image-container {
							width: $left-side;
							min-height: 50vh;
							max-width: 100%;
							flex: 1 0 100%;
							margin-right: $spacing;
							margin-top: 4vh;

							img {
								@include absolute-center();
								display: block;
								margin: auto;
								box-shadow: $content-shadow;
								border-style: solid;
								border-width: 1.5vmin;
								border-radius: 1.5vmin;

								
							}
							&:before {
								content: '';
								position: absolute;
								left: 0;
								right: 0;
								bottom: 90%;
								margin: auto;
								@include backgroundImg('../img/hallmark2019/present-bow.png', auto);
								width: 174px;
								height: 79px;
							}
							
						}

						.text-container,
						.answer-container {
							max-width: $right-side;
							width: $right-side;
							flex: 0;
						}

						.text-container {
							font-family: Raleway;
							padding-left: 2vmin;

							.prompt {
								text-transform: uppercase;
								margin: 0;
								font-size: 5vmin;
							}
						}

						.answer-container {
							justify-content: space-around;

							.answer {
								@include appButton();
								background-color: $bg-color-two;
								margin: 1vmin;
								padding: 1vmin;
								opacity: 0.6;
								border: 0.5vmin solid transparent;
								line-height: 1.3;
								font-size: 3.3vmin;

								&:not(.correct):not(.incorrect) {
									&:active,
									&:focus,
									&:hover {
										@include propertyAlternateMulti((opacity, 0.6, 1), (border-color, transparent, rgba(white, 0.8)));
									}
								}

								&.correct {
									background-color: $color-button;
									opacity: 1;
								}

								&.incorrect {
									background-color: #f42534;
									opacity: 1;
								}
							}
						}
					}
					.video-screen video {
						box-shadow: $content-shadow;
					}
				}

				.double-exposure {
					.header {
						display: block;

						.progress-indicator,
						.title {
							display: none;
						}

						background: none;
						border: none;
						text-transform: uppercase;
						font-style: normal;
						font-family: Raleway;

						.hints {
							top: -2vmin;
							z-index: 2;

							.hint {
								margin: 0 1vmin;
								border-width: 0.5vmin;
								border-radius: 1vmin;
								padding: 3.5vmin;
							}
						}
					}

					.body {
						.img-container {
							.subtitle {
								display: none;
							}
							img {
								border-color: $border-color-two;
								box-shadow: $content-shadow;
								border-width: 1.5vmin;
								border-radius: 1.5vmin;
							}
						}

						.timer {
							.timer-progress {
								overflow: hidden;
								.timer-progress-bar {
									border-radius: 20px;
									background-image: url(../img/hallmark2019/candy-cane.png);
									background-size: 36px 75px;
									background-position: top;

									height: 100% !important;
									
									transform-origin: bottom center;
									transition: transform 1s linear;
								}
								border-radius: 20px;
								background-image: url(../img/hallmark2019/candy-cane-dim.png);
								background-size: 36px 75px;
							}

							width: 5vmin;
							border: 0.3vmin solid #500;
							border-radius: 20px;
						}
					}
				}

				.lock-box {

					.content-panel:not(.incorrect) {
						&:before {
							content: "Select the images in the order they appeared";
							font-size: 1.5em;
							margin-top: -1vmin;
						}
					}

					.body {
						justify-content: center;
						align-content: center;

						$pick-size: 10vmin;
						$pick-border-radius: 1vmin;
						
						.choices {
							.choice {
								margin: auto 0.5vmin;
								margin-top: 6vh; // Add margin to fit bow image in :after() element
								border-radius: 1.5vmin;
								border-width: 1.5vmin;
								border-style: solid;

								&.picked {
									filter: grayscale(1);
								}

								&:before {
									content: '';
									position: absolute;
									left: 0;
									right: 0;
									top: -7.1vh;
									margin: auto;
									@include backgroundImg('../img/hallmark2019/present-bow-pink.png', contain);
									height: 40px;
								}
							}
						}
						.picks {
							flex: 0;
							margin: 0 2vmin;
							
							.pick {
								@include flex-container();
								justify-content: center;
								background-color: $bg-color-one;
								border-radius: $pick-border-radius;
								min-width: $pick-size;
								min-height: $pick-size;
								color: white;
								font-size: 7vmin;
								line-height: 1.3;
							}
						}
						.btn-unlock {
							@include appButton();
							font-size: calc(#{$pick-size} / 2);
							border-radius: $pick-border-radius;
							
							&:not(.selectable){
								opacity: 0.6;
							}
						}
					}

					.unlock-results.incorrect .body:before {
						display: none;
					}

					.unlock-results {
						.message {
							color: $bg-color-one;
						}
						.btns {
							.btn {
								@include appButton();
								font-size: 6vmin;
								margin: 2vmin;
								padding: 2vmin 6vmin;
							}
						}
					}
				}

				.memory-match {
					.cards {
						border-radius: 1vmin;

						&:not(:empty) {
							background: rgba(black, 0.8);
							// box-shadow: 0.5vmin 0.5vmin 2vmin 0vmin rgba(0, 0, 0, 1.5);
						}
						
						.card {
							&:after {
								border-width: 0.5vmin;
							}
	
							&:active,
							&:focus,
							&:hover {
								&:after {
									@include propertyAlternate(border-color, transparent, $bg-color-one)
								}
							}
						}	
					}
				}

				.endscreen {
					font-size: 20pt;
					text-align: center;
					border: none;

					.header {
						display: none;
					}

					.body {
						@include flex-container(row);
						justify-content: space-around;

						.message {
							@include flex-container(column);
							font-size: 4.5vmin;
							width: 40%;
							height: auto;
							font-family: Raleway;

							.score:before {
								content: 'You got ';
							}

							.score:after {
								content: ' out of ';
							}

							.possible-score:after {
								content: '.';
							}

							.msg-1 {
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
								width: 100%;
								height: 50%;
								position: relative;
								flex: 1;
								margin-top: 10px;
								box-shadow: $content-shadow;
							}

							.msg-2 {
								position: absolute;
								left: 50%;
								bottom: 44%;
								text-align: center;
								font-size: 4vmin;
								font-size: 0.8em;
							}
						}

						.btns {
							@include flex-container(column, nowrap);
							justify-content: space-evenly;
							position: relative;
							font-family: Raleway;
							align-self: flex-end;
							align-items: center;

							.btn {
								@include appButton();
								margin: 1vmin;
								border: 4px solid transparent;
								text-transform: capitalize;
								
								&.deepLinkChannel {
									@include backgroundImg('../img/hallmark2019/bg-btn-deepLinkNetwork.png', auto 70%, 10% 50%);
									padding-left: 16vw;

									&:before {
										content: "Watch Holiday Movies Anytime";
										font-size: 2vmin;
									}
									&:after {
										display: block;
										content: "Start your free trial today";
										font-size: 3vmin;
									}
								}

								&.deepLinkNetwork {
									&:after {
										content: 'Watch Hallmark Channel Now';
									}
								}
							}

							.btn:active,
							.btn:focus,
							.btn:hover {
								border: 4px solid white;
							}
						}
					}
				}

				video {
					box-shadow: $content-shadow;
					border: 1.5vmin solid;
					border-radius: 1.5vmin;
				}
			}

			.close-game {
				display: none;
				position: absolute;
				right: 0;
				top: -6vh;
				z-index: 4;

				.arrow {
					display: inline-block;
					transform: scale(-1);
					padding-left: 1vmin;
				}

				button {
					@include appButton();
					font-size: 3vmin;
				}
			}
		}
	}
}
